

<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!-- Put your challenge-specific CSS in here -->
  <link rel="stylesheet" href="/css/main.css">
  <title></title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Welcome to Craigslist Buatan Malaysia!</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <br clear="all">
    </nav>
    <div class="content">
      <h2>All Categories</h2>
      <section>
        <!-- Somehow generate the categories from the table dynamically -->
        <ul>
          <li><a href="#">params[category[0]]</a></li>
          <li><a href="#">params[category[1]]</a></li>
          <li><a href="#">params[category[2]]</a></li>
        </ul>
      </section>
      <section>

      </section>
    </div>
    <div class="footer">
      Copyright &copy; 2015 SuperDuo, Inc.
    </div>
  </div>
</body>



<!-- <form action="/cool_url" method="get">>
  <p>Form 1</p>
  <input type="text" name="cool_input">
  <input type="submit" value="Submit!">
  <br></br>
  <textarea cols="50" row="300" name="mytextarea">
  Once upon a time, Ali Baba tricked the 40 thieves and married the princess and lived happily ever after
  </textarea>
  <br></br>
  <input type="radio" name="group1" value="Ayam">Ayam<br>
  <input type="radio" name="group1" value="Daging" checked>Daging<br>
  <input type="radio" name="group1" value="Keju">Keju<br>
  <br></br>
  <input type="radio" name="group2" value="Mi Goreng">Mi Goreng<br>
  <input type="radio" name="group2" value="Air Bandung"> Air Bandung<br>
  <input type="radio" name="group2" value="Naan" checked> Naan<br>
</form>

<form action="/cool_url" method="post">
  <div align="left"><br>
    <p>Form 2</p>
    <input type="text" name="post[title]">
    <input type="text" name="post[price]">
    <textarea name="post[description]"></textarea>
    <input type="checkbox" name="option1" value="Milk"> Milk<br>
    <input type="checkbox" name="option2" value="Butter" checked> Butter<br>
    <input type="checkbox" name="option3" value="Cheese"> Cheese<br>
    <br>
    <select>
      <option>Milk</option>
      <option>Coffee</option>
      <option>Tea</option>
    </select>
  </div>
  <input type="submit" value="Post Cool URL!">
</form> -->